In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf

In [ ]:
#Importar historico de BTC-USD de los ultimos 5 años con intervalo diario
df = yf.Tickers("BTC-USD ETH-USD XRP-USD BNB-USD LTC-USD").history(period='5y',interval='1d')

#Dejar unicamente las columnas de cierre
df=df['Close']

#Ver el df con la información
df

[*********************100%***********************]  5 of 5 completed

               BNB-USD       BTC-USD      ETH-USD     LTC-USD   XRP-USD
Date
2018-02-09    9.730460   8736.980469   883.864990  163.949997  0.954428
2018-02-10    9.255970   8621.900391   860.414978  155.593002  1.070740
2018-02-11    8.704910   8129.970215   814.659973  148.990005  1.004160
2018-02-12    9.322470   8926.570312   868.706970  161.565994  1.081010
2018-02-13    8.986780   8598.309570   845.257996  159.554001  1.027410
...                ...           ...          ...         ...       ...
2023-02-04  330.617096  23331.847656  1667.059204   98.614479  0.411305
2023-02-05  327.869354  22955.666016  1631.645874   96.458755  0.398937
2023-02-06  324.627167  22760.109375  1616.247070   96.062454  0.392824
2023-02-07  333.227875  23264.291016  1672.003540  100.927666  0.403904
2023-02-09  327.278168  22933.613281  1650.076172   98.733711  0.396828

[1826 rows x 5 columns]

In [ ]:
#Identifico Vacios
df.isnull().sum()

BNB-USD    0
BTC-USD    0
ETH-USD    0
LTC-USD    0
XRP-USD    0
dtype: int64

In [ ]:
df.to_csv("History_Crypto.csv")